html {
    height: 100%;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

body {
    position: relative;
    padding-bottom: 12rem;
    min-height: 100%;
    background-color: #343A40;
    color: white;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1C2331;
}

.cookiewarning {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.card {
    background-color: #2E2E2E;
}

.card-text {
    color: white !important;
}

a:link, a:visited {
    color: lightblue
}

.list-group-item {
    color: black !important;
}

a:hover {
    color: orange
}