<p class="d-md-none">
    <br>
    <br>
</p>

<footer class="page-footer font-small">
    <div class="container">
        <div class="text-center py-3">
            <a class="logo" href="https://github.com/Nalsai">
                <img src="/img/Logos/GitHub.svg" alt="GitHub Logo">
            </a>
            <a class="logo" href="mailto:kontakt@nalsai.de">
                <img src="/img/Logos/E-Mail.svg" alt="E-Mail Logo">
            </a>
            <a class="logo" href="https://www.amazon.de/hz/wishlist/ls/1SBKLNVR41QIR">
                <img src="/img/Logos/Amazon.svg" alt="Amazon Logo">
            </a>
            <a class="logo" href="https://www.instagram.com/n1l5f/">
                <img src="/img/Logos/Instagram.svg" alt="Instagram Logo">
            </a>
            <a class="logo" href="https://www.youtube.com/channel/UC-wQRakfwvTqrgPBF0_h_BQ">
                <img src="/img/Logos/YouTube.svg" alt="YouTube Logo">
            </a>
            <a class="logo" href="https://soundcloud.com/nalsai_f">
                <img src="/img/Logos/SoundCloud.svg" alt="SoundCloud Logo">
            </a>
            <a class="logo" href="https://www.last.fm/user/Nalsai">
                <img src="/img/Logos/Last.fm.png" alt="Last.fm Logo">
            </a>
            <a class="logo" href="http://live.xbox.com/de-DE/Profile?gamertag=Nils IV">
                <img src="/img/Logos/Xbox.svg" alt="Xbox Logo">
            </a>
            <a class="logo" href="http://steamcommunity.com/id/nalsai/">
                <img src="/img/Logos/Steam.svg" alt="Steam Logo">
            </a>
            <a class="logo" href="https://osu.ppy.sh/users/11766906">
                <img src="/img/Logos/osu!.png" alt="osu! Logo">
            </a>
            <a class="logo" href="https://myanimelist.net/profile/Nalsai">
                <img src="/img/Logos/MAL.png" alt="MAL Logo">
            </a>
            <a class="logo" href="https://www.tinkercad.com/users/35EuH47CUMc-nalsai">
                <img src="/img/Logos/Tinkercad.svg" alt="Tinkercad Logo">
            </a>
        </div>
    </div>
    <div class="container text-center py-2">
        <a href="/impressum">Impressum </a> |
        <a href="/datenschutz">Datenschutz </a> | 
        Alle Marken sind Eigentum der jeweiligen Besitzer
    </div>
    <div class="footer-copyright text-center py-3">© 2018-2019 Copyright:
        <a href="https://nalsai.de/">Nils Fürniß</a>
    </div>
</footer>

<script src="https://cdn.nalsai.de/popper/1.14.7/popper.min.js"></script>
<script src="https://cdn.nalsai.de/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.nalsai.de/mdbootstrap/4.7.0/js/mdb.min.js"></script>