<head>
    <meta charset="UTF-8">
    <meta name="msvalidate.01" content="E57060D2DD92DFF946827D44AF2C9E19">
    <meta name="google-site-verification" content="JgPOlkBmHmtUNWtIQphVmWb8QcWiIFH_q0QydxKP-Zg">
    <title>{{ page.title }} @ {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.nalsai.de/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.nalsai.de/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.nalsai.de/mdbootstrap/4.7.0/css/mdb.min.css">
    <link rel="stylesheet" href="https://cdn.nalsai.de/mystuff/1.0/css/style.css">
    <link rel="stylesheet" href="https://cdn.nalsai.de/mystuff/1.0/css/imgSocial.css">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://cdn.nalsai.de/mystuff/1.0/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://cdn.nalsai.de/mystuff/1.0/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://cdn.nalsai.de/mystuff/1.0/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://cdn.nalsai.de/mystuff/1.0/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://cdn.nalsai.de/mystuff/1.0/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://cdn.nalsai.de/mystuff/1.0/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://cdn.nalsai.de/mystuff/1.0/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://cdn.nalsai.de/mystuff/1.0/icons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="https://cdn.nalsai.de/mystuff/1.0/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://cdn.nalsai.de/mystuff/1.0/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://cdn.nalsai.de/mystuff/1.0/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://cdn.nalsai.de/mystuff/1.0/icons/favicon-128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="https://cdn.nalsai.de/mystuff/1.0/icons/favicon-196x196.png" sizes="196x196">
    <meta name="application-name" content="Nils' Webseite">
    <meta name="msapplication-TileColor" content="#0094FF">
    <meta name="msapplication-TileImage" content="https://cdn.nalsai.de/mystuff/1.0/icons/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="https://cdn.nalsai.de/mystuff/1.0/icons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="https://cdn.nalsai.de/mystuff/1.0/icons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="https://cdn.nalsai.de/mystuff/1.0/icons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="https://cdn.nalsai.de/mystuff/1.0/icons/mstile-310x310.png">
</head>