<head>
    <meta charset="UTF-8">
    <meta name="msvalidate.01" content="E57060D2DD92DFF946827D44AF2C9E19">
    <meta name="google-site-verification" content="JgPOlkBmHmtUNWtIQphVmWb8QcWiIFH_q0QydxKP-Zg">
    <title>{{ page.title }} @ {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.nalsai.de/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.nalsai.de/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.nalsai.de/mdbootstrap/4.7.0/css/mdb.min.css">
    <link rel="stylesheet" href="https://cdn.nalsai.de/mystuff/1.0/css/style.css">
    <link rel="stylesheet" href="https://cdn.nalsai.de/mystuff/1.0/css/imgSocial.css">
</head>